body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    background: black;
    color:white;
}
.container{
    display: flex;
    width: 1000px;
    height: 1000px;
    background-color: black;
    flex-wrap: wrap;
}
.inside-div{
    background-color:wheat;
    /* insert formula for size */
    height: 10px;
    width: 10px;
    padding:1px;
    /* margin-top:1px;
    margin-right: 1px; */
    flex:1 1 auto;
    box-sizing: border-box;
}

.mouse-over{
    background-color: black;
}
/* .inside-div:hover{
    background-color: black;
} */